@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul > li {
  list-style-type: none;
  display: inline;
  margin: 0 1.5rem;
}
* {
  box-sizing: border-box;
}



